# apiVersion: kustomize.config.k8s.io/v1beta1
# kind: Kustomization
secretGenerator:
  - name: loadbalancer
    namespace: app
    envs:
      - "config/secrets.env"
    type: Opaque
configMapGenerator:
  - name: loadbalancer
    envs:
      - "config/configmap.env"

generatorOptions:
  disableNameSuffixHash: true
